/* 在此撰寫此專案的CSS Style */

html {
    padding: 0;
    overflow-x: hidden;
}

html,
body {
    width: 100%;
}

@font-face {
    font-family: 華康流風體;
    src: url(../font/流風體W3.ttc);
}

@font-face {
    font-family: 華康竹風體;
    src: url(../font/竹風體W4.ttc);
}


/* welcome page setting */

#welcome-page {
    /* background-image: url(../img/welcome.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; */
    background: black;
    border-radius: 0;
    padding-bottom: 100px;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron {
    padding-left: 210px;
}

#welcome-page h1 {
    color: white;
    font-family: 華康流風體;
    /* display: inline-block; */
    /* padding: 40px 0 20px 0; */
    height: 15vh;
    font-size: 4em;
}

.bbs-screen {
    color: #bbb;
    background-color: #000;
    line-height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: relative;
    white-space: pre-wrap;
    font-size: 24px;
}

.bbs-content {
    font-family: "細明體", "AR PL UMing TW", "Inconsolata", "LiSongPro", monospace;
}


/* ANSI code animation setting */

.b0 {
    background-color: #000;
}

.b1 {
    background-color: #b00;
}

.b2 {
    background-color: #0b0;
}

.b3 {
    background-color: #bb0;
}

.b4 {
    background-color: #00b;
}

.b5 {
    background-color: #b0b;
}

.b6 {
    background-color: #0bb;
}

.b7 {
    background-color: #bbb;
}

.f0 {
    color: #000;
}

.f1 {
    color: #900;
}

.f2 {
    color: #090;
}

.f3 {
    color: #990;
}

.f4 {
    color: #009;
}

.f5 {
    color: #909;
}

.f6 {
    color: #099;
}

.f7 {
    color: #999;
}

.hl {
    color: #fff;
}

.hl.f0 {
    color: #666;
}

.hl.f1 {
    color: #f66;
}

.hl.f2 {
    color: #6f6;
}

.hl.f3 {
    color: #ff6;
}

.hl.f4 {
    color: #66f;
}

.hl.f5 {
    color: #f6f;
}

.hl.f6 {
    color: #6ff;
}

.hl.f7 {
    color: #fff;
}


/*overall setting*/

img {
    z-index: 20;
}

section {
    position: relative;
    padding-left: 210px;
    overflow: none;
    width: 100%;
}

section * {
    z-index: 100;
}

#About-us,
#Calender,
#Gallery {
    background-color: #111;
    color: white;
    font-family: '微軟正黑體', 'Airel';
    /* padding-top: 100px;  */
}

#Activity,
#Add_activity {
    background-color: #222;
    color: white;
    font-family: '微軟正黑體', 'Airel';
}

.list-group-new li {
    color: #222;
}

#About-us p {
    color: #aaa;
}

.header {
    width: 100%;
    padding: 10px 0;
}

.member-table {
    padding: 0;
}

.member-table li {
    float: left;
    color: #aaa;
    width: 50%;
    /* font-weight: 400; */
    list-style-image: url("../img/star-icon3.png");
    margin: 2px 0;
}

.member-table li:hover {
    color: violet;
    transition: all .5s ease;
    font-size: 16.2px;
    transform-origin: center;
}

.header h1 {
    letter-spacing: 3px;
    text-align: center;
    margin: 50px 0;
}

.header h1:after {
    margin-bottom: 10px;
    content: "";
    width: 200px;
    height: 2px;
    display: block;
    background: white;
    margin: 0 auto;
}

#Contact-us {
    font-family: '微軟正黑體', 'Airel';
    height: 200px;
    background-color: #ddd;
    padding-left: 200px;
    z-index: 100;
}

#Contact-us a {
    display: inline-block;
    padding: 5px 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.self-font {
    font-family: FontAwesome;
}

footer {
    z-index: 1000;
}

footer a :hover {
    cursor: pointer;
}


/* particle bg*/

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 10; */
}

.bg .bg01,
.bg .bg02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400%;
    -webkit-transition: -webkit-transform 5s cubic-bezier(.19, 1, .22, 1);
    transition: -webkit-transform 5s cubic-bezier(.19, 1, .22, 1);
    transition: transform 5s cubic-bezier(.19, 1, .22, 1);
    transition: transform 5s cubic-bezier(.19, 1, .22, 1), -webkit-transform 5s cubic-bezier(.19, 1, .22, 1);
}

.bg .bg01 {
    background: url(../img/particle01.png) center top;
}

.bg .bg02 {
    background: url(../img/particle02.png) center top;
}


/* Activity */

#Activity h2,
h4,
p {
    padding: 5px 0;
    white-space: pre-line;
}

#Activity i {
    font-size: 2rem;
}


/* Add_activity */

#Add_activity h3 {
    padding: 10px 0;
}

#Add_activity h2 {
    padding: 30px 0;
}

#activity_title {
    width: 50%;
}

#main {
    width: 100%;
}

#start_date,
#end_date {
    width: 35%;
    padding: 0 5% 0 0;
}

#activity_order {
    margin: 0 5% 0 5%;
    width: 10%;
}

.ss {
    line-height: 150px;
    height: 100px;
    display: inline-block;
}

.activity_submit {
    width: 100px;
    /* height: 50px; */
    display: inline-block;
    line-height: 50px;
    padding: 20px;
    color: rgb(203, 255, 81);
}

.control_add_activity_order {
    width: 50px;
}

.control_add_activity_title {
    width: 350px;
}

.control_add_activity_start_date {
    width: 200px;
}

.list-group li div {
    display: inline-block;
}

.list-group-item[whendrag="true"]:active {
    background-color: white;
}


/* Calender */

#Calender {
    padding-bottom: 100px;
}

#Calender h1 {
    padding-bottom: 50px;
}